:root {
    --page-color: #D9D9D9;
    --text-color: #FE5D02;
    --spark-color: #FE5D02;
    --account-color: #000000;
    --abaka-color: rgba(148, 114, 191, 0.7);
    --domino-color: rgb(179 121 233 / 0.7);
    --labirint-color: rgb(41 122 54);
    --krestiki-noliki-color: rgb(0 7 168 / 0.8);
}